@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  /* display: flex; */
}

/* Purple background calculator */
.calculator-background { 
  /* margin: 1rem auto; */
  padding: 2rem 0;
  /* background-color: linear-gradient(90deg) */
  background: linear-gradient(95.13deg, rgb(139, 34, 209) 0%, rgb(224, 112, 68) 100%);
  height: 100vh;
  width: 40%;
}

.calculator {
  max-width: 62%;
  /* margin-top: 3rem; */
  margin: 0 auto;
  /* padding: 1rem; */
  border-radius: 1rem;
  background-color: #fff;
  /* border: 1px solid linear-gradient(95.13deg, rgb(139, 34, 209) 0%, rgb(224, 112, 68) 100%); */
  border: 1px solid rgb(187, 124, 230);
}

.calculator .input-space {
  background-color: #fff;
  border: none;
  box-shadow: none;
  width: 100%;
  /* border-bottom: 1px solid rgb(219, 213, 213); */
}

.three-dots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 0 0.6rem;
}

.three-dots div {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: rgb(228, 211, 211);
  margin-left: 0.4rem;
}

.number-input {
  padding: 0.5rem 1.5rem 2.5rem 0;
  text-align: right;
}

.number-input :first-child {
  font-size: 1.5rem;
  line-height: 1rem;
  color: grey;
  font-family: 'Arimo', sans-serif;
}

.number-input :last-child {
  font-size: 3.5rem;
  /* font-weight: 500; */
  line-height: 1rem;
  padding-top: 1.8rem;
  font-family: 'Arimo', sans-serif;
}

.calculator-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calc-button {
  background-color: rgb(253, 250, 250);
  border: 0.02px solid rgb(219, 213, 213);
  /* border: none; */
  padding: 1.3rem;
  color: #000000;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
}

.calculator-button .zero {
  grid-column: span 2;
  /* color: #000; */
  padding-left: 2rem;
  text-align: left;
  border-bottom-left-radius: 1rem;
}

.calculator-button .yellow {
  background-color: rgb(238, 160, 51);
  border-top-color: rgb(163, 118, 54);
  /* border-color: rgb(238, 160, 51); */
  color: #f3f3f3;
}  
.calculator-button .yellow :not(.divide) {
  border-top-color: rgb(163, 118, 54);
}

.calculator-button .equal {
  background-color: rgb(231, 148, 31);
  border-bottom-right-radius: 1rem;
  /* border-top-color: rgb(163, 118, 54); */
}

.calculator-button .grey {
  background-color: rgb(230, 222, 222);
}


