

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 display: flex;
 flex-wrap: wrap; 
}

.calcula1 {
  padding: 2rem 0;
  height: 100vh;
  width: 47%;
  background: linear-gradient(95.13deg, rgb(139, 34, 209) 0%, rgb(224, 112, 68) 100%);
  margin: 0.5rem 2rem;
}

.calculator {
  width: 28vw;
  /* margin-top: 3rem; */
  margin: 0 auto;
  /* padding: 1rem; */
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid rgb(187, 124, 230);
}

.input-space {
  background-color: #fff;
  border: none;
  box-shadow: none;
  width: 100%;
  /* border-bottom: 1px solid rgb(219, 213, 213); */
}

.three-dots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 0 0.6rem;
}

.three-dots div {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: rgb(228, 211, 211);
  margin-left: 0.4rem;
}

.number-input {
  padding: 0.5rem 1.5rem 2.5rem 0;
  text-align: right;
}

.number-input :first-child {
  font-size: 1.5rem;
  /* line-height: 1rem; */
  color: grey;
  font-family: 'Arimo', sans-serif;
}

.number-input :last-child {
  font-size: 3.5rem;
  /* font-weight: 500; */
  line-height: 1rem;
  padding-top: 1.8rem;
  font-family: 'Arimo', sans-serif;
}

.calculator-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calc-button {
  background-color: rgb(253, 250, 250);
  border: 0.02px solid rgb(219, 213, 213);
  /* border: none; */
  padding: 1.3rem;
  color: #000000;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
}

.calculator-button .zero {
  grid-column: span 2;
  /* color: #000; */
  padding-left: 2.5rem;
  text-align: left;
  border-bottom-left-radius: 1rem;
}

.calculator-button .yellow {
  background-color: rgb(238, 160, 51);
  border-top-color: rgb(163, 118, 54);
  /* border-color: rgb(238, 160, 51); */
  color: #f3f3f3;
}  
.calculator-button .yellow :not(.divide) {
  border-top-color: rgb(163, 118, 54);
}

.calculator-button .equal {
  background-color: rgb(231, 148, 31);
  border-bottom-right-radius: 1rem;
  /* border-top-color: rgb(163, 118, 54); */
}

.calculator-button .grey {
  background-color: rgb(230, 222, 222);
}



/* white background calculator */
.calcula2 {
  height: 100vh;
  width: 47%;
  background-color: rgb(244, 233, 255);
  margin: 0.5rem;
  padding: 2rem 0;
}
.calcula2 .calculator {
  width: 25vw;
  border-radius: 0.4rem;
  border: 1px solid #fff;
}
.calcula2 .three-dots {
  margin: 0.3rem;
}
.calcula2 .three-dots div {
  height: 0.7rem;
  width: 0.7rem;
  opacity: 0.7;
}
.calcula2 .three-dots :first-child {
  background-color: red;
}
.calcula2 .three-dots :nth-child(2) {
  background-color: yellow;
}
.calcula2 .three-dots :last-child {
  background-color: green;
}
.calcula2 .number-input {
  padding: 3rem 2rem 1.3rem 0;
}
.calcula2 .number-input :first-child {
font-size: 3.5rem;
line-height: 0;
color: black;
opacity: 0.7;
padding-bottom: 1.2rem;
}

.calcula2 .number-input :last-child {
font-size: 1rem;
color: grey;
opacity: 0.6;
line-height: 0;
}
.calcula2 .zero {
  grid-column: span 1;
  text-align: center;
}
.calcula2 .calc-button {
  border: none;
  padding: 1.5rem 1.2rem;
  color: rgb(80, 76, 76);
  font-size: 1.2rem;
  font-weight: 500;
}
.calcula2 .yellow {
  background-color: #fff;
  color: #2991f2;
  font-weight: 600;
  font-size: 1.5rem;
}


/* multiple coloured background calculator */
.calcula3 {
  height: 100vh;
  width: 70%;
  background-color: rgb(236, 225, 225);
  margin: 3rem auto;
  padding: 2.5rem 0;
  position: relative;
  overflow: hidden;
}

.background-circle {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 300px;
  
  /* z-index: 1; */
}

.background-circle.big {
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
}

.circle--blue {
  top: -25vh;
  left: -20vh;
  background: linear-gradient(135deg, #5fc5ff 0%, #468dfe 100%);
}

.circle--green {
  bottom: -29vh;
  right: -20vh;
  background: linear-gradient(135deg, #4af9cb 0%, #39f3c1 100%);
}

.circle--yellow {
  top: -14vh;
  right: -14vh;
  background: #ffcb89;
}

.circle--red {
  bottom: -14vh;
  left: -14vh;
  background: #ff6a85;
}

.calcula3 .calculator {
  width: 25vw;
  border-radius: 1rem;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calcula3 .number-input {
  padding: 3.5rem 1.3rem 1.3rem 0;
}
.calcula3 .number-input :last-child {
  font-size: 3rem;
  /* font-weight: 600; */
  line-height: 0;
  color: black;
  opacity: 0.7;
  padding: 2.2rem 0 2.1rem 0;
  }
  
  .calcula3 .calc-button {
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vw;
  width: 4vw;
  color: rgb(80, 76, 76);
  /* font-size: 2rem; */
  }
 
 .calcula3 .calculator-button .zero {
    grid-column: span 1;
  }
  .calcula3 .calculator-button .equal {
    /* grid-column: span 2; */
    border-radius: 30px;
    background: #ffcb8a;
    padding: 0.1rem 1vh;
    height: 70%;
    width: 170%;
    margin-top: 0.5rem;
    /* margin-left: 1.8rem; */
    /* padding-right: 0; */
  }
  
  .calcula3 .yellow {
    background-color: rgb(219, 204, 204);
    border-radius: 50%;
    /* padding: 0.5rem; */
  }
  .calcula3 .grey {
    background-color: rgb(219, 204, 204);
    border-radius: 50%;
  }
   */
.calcula3 .equal {
  /* margin-left: 3rem; */
}


.calc-button:hover {
  color: #fff;
  background-color: #666666;
  font-weight: 700;
}

/* @media and max-width(600px)

@media only screen and (max-width: 600px) {

  .cal-1, .cal-2, .cal-3 {
      margin: auto;
  } 
  .frame {
     width: 20.6rem;
  }
}
*/
@media (max-width: 700px) {
  .calcula1, .calcula2, .calcula3 {
    width: 100%;
  }
  .calculator {
    width: 100%;
  }
}